html, body {
	font-family: mono;
	height:100%;
	padding:0;
	margin:0;
}
#left,
#right {
    width: 50%;
    height: 100%;
    display: inline;
    float: left;
}
#left {
	color: #aaa;
    background: black;
}

#output,
#progressbar {
	margin-left: 60px;
	margin-top: 40px;
}	

#right {
    background: white;
}
#right>iframe {
	border: 0;
    width: 100%;
    height: 99%;
    display: inline;	
}
